{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 0,
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "comma-dangle": [1, "always-multiline"],
    "eol-last": ["error", "always"],
    "object-curly-spacing": ["warn", "always"]
  }
}
